@model HotelApp.Dtos.Hotel.HotelViewModel

<h2>Add new Hotel:</h2>
@using(Html.BeginForm("Add", "Hotels", FormMethod.Post))
{
    <div>
        <table class="table table-bordered">
            <tr class="table-primary">
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Total rooms</th>
            </tr>
            <tr>
                <td class="align-middle">@Html.TextBoxFor(m => m.Name, new{@class = "w-100"})</td>
                <td>
                    @Html.DropDownListFor(m => m.SelectedCityId
                    , new SelectList(@Model.AllCities, "Id", "Name")
                    , new { @class = "form-control", id="cities"})
                </td>
                <td class="align-middle">@Html.TextBoxFor(m => m.Address, new{@class = "w-100"})</td>
                <td class="align-middle">@Html.TextBoxFor(m => m.TotalRooms, new {@type="number", min = "0", @class="w-100"})</td>
            </tr>
        </table>
    </div>
    <input type="submit" class="btn btn-warning" />
}
@Html.ValidationSummary()
