@model HotelApp.Dtos.Hotel.HotelViewModel

<h2>Add new Hotel:</h2>
@using(Html.BeginForm("Update", "Hotels", FormMethod.Post))
{
    <div>
        <table class="table table-bordered">
            <tr class="table-primary">
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Total rooms</th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(m => m.Name)</td>
                <td>@Html.DropDownListFor(m => m.SelectedCityId
                    , new SelectList(@Model.AllCities, "Id", "Name")
                    , new { @class = "form-control", id="cities", value=Model.SelectedCityId})</td>
                <td>@Html.TextBoxFor(m => m.Address)</td>
                <td>@Html.TextBoxFor(m => m.TotalRooms, new {@type="number", min = "0" })</td>
            </tr>
        </table>
    </div>
    <input type="submit" class="btn btn-warning" />
    @Html.HiddenFor(m => m.Id, new {@readonly="readonly"})
}
@Html.ValidationSummary()