@model HotelApp.Dtos.Hotels.HotelManagerViewModel

<h2>@Model.HotelName</h2>

<br />
    <a href="#BookRoom" class="btn btn-primary">Book room</a>
    <a href="#BookedRooms" class="btn btn-info">Booked rooms</a>
    <a href="#CleanIt" class="btn btn-warning">Not cleaned rooms</a>
    <a href="#Closed" class="btn btn-danger">Closed rooms</a>
<br />

<table id="BookRoom" class="table mt-3 table-striped" style="text-align: center">
    <thead class="table-primary">
        <tr>
            <th colspan=3 style="text-align: center">Rooms for booking</th>
        </tr>
        <tr>
            <th style="width: 7%">#</th>
            <th style="width: 20%">Rooms</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.ReadyRooms.Count; i++)
        {
            <tr>
                <th>@(i + 1)</th>
                <td>Room #@Model.ReadyRooms[i].Name</td>
                <td style="text-align: right">
                    @Html.ActionLink("Book", "BookRoom","HotelManager", new{roomId = @Model.ReadyRooms[i].Id}, new {@class="btn btn-success"})
                    @Html.ActionLink("Close", "CloseRoom", "HotelManager", new{roomId = @Model.ReadyRooms[i].Id}, new {@class="btn btn-warning"})
                </td>
            </tr>
        }
    </tbody>
</table>


<table id="BookedRooms" class="table table-striped" style="text-align: center">
    <thead class="table-info">
        <tr>
            <th colspan=6 style="text-align: center">Booked Rooms</th>
        </tr>
        <tr>
            <th style="width: 7%">#</th>
            <th style="width: 20%">Rooms</th>
            <th>Customer</th>
            <th>Requests</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.RoomsBooked.Count; i++)
        {
            <tr>
                <th>@(i + 1)</th>
                <td>Room #@Model.RoomsBooked[i].Name</td>
                <td>@(Model.RoomsBooked[i].Customer.FirstName[0] + ". " + Model.RoomsBooked[i].Customer.LastName)</td>
                <td>@Model.RoomsBooked[i].Customer.Requests</td>
                <td style="text-align: right">
                    @Html.ActionLink("Free the room", "FreeTheRoom", "HotelManager", new{roomId = Model.RoomsBooked[i].Id}, new{@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>


<table id="CleanIt" class="table table-striped" style="text-align: center">
    <thead class="table-warning">
        <tr>
            <th colspan=4 style="text-align: center">Needs Cleaning</th>
        </tr>
        <tr>
            <th style="width: 7%">#</th>
            <th style="width: 20%">Rooms</th>
            <th>Cleaner</th>
            <th style="text-align: right">Cleaners available: @Model.AvailableCleaners.Count()</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.RoomsNeedsCleaning.Count; i++)
        {
            <tr>
                <th>@(i + 1)</th>
                <td>Room #@Model.RoomsNeedsCleaning[i].Name</td>
                <td>
                    @if(@Model.RoomsNeedsCleaning[i].Cleaner != null)
                    {
                        @(Model.RoomsNeedsCleaning[i].Cleaner.FirstName + " " + Model.RoomsNeedsCleaning[i].Cleaner.LastName)
                    }
                    else
                    {
                        <i>N/A</i>
                    }
                </td>
                <td style="text-align: right">
                @if (!Model.RoomsNeedsCleaning[i].CleanerAssigned)
                {
                    @if(Model.AvailableCleaners.Count > 0)
                    {
                        @Html.ActionLink("Assign Cleaner", "AssignCleaner", "HotelManager", new{roomId = @Model.RoomsNeedsCleaning[i].Id}, new{@class="btn btn-warning"})
                    }
                    else
                    {
                        <input type="button" value="Assign cleaner" class="btn btn-warning" disabled="disabled" />
                    }
                    <input type="button" value="Room is cleaned" class="btn btn-success" disabled="disabled" />
                }
                else
                {
                    <input type="button" value="Assign cleaner" class="btn btn-warning" disabled="disabled" />
                    @Html.ActionLink("Room is cleaned", "MarkCleaned", "HotelManager", new{roomId = @Model.RoomsNeedsCleaning[i].Id}, new{@class="btn btn-success"})
                }
                @Html.ActionLink("Close", "CloseRoom", "HotelManager", new{roomId = @Model.RoomsNeedsCleaning[i].Id}, new {@class="btn btn-warning"})
                </td>
            </tr>
        }
    </tbody>
</table>

<table id="Closed" class="table table-hover" style="text-align: center">
    <thead class="table-danger">
        <tr>
            <th colspan=4 style="text-align: center">Closed Rooms</th>
        </tr>
        <tr>
            <th style="width: 7%">#</th>
            <th style="width: 20%">Rooms</th>
            <th>Reason</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.RoomsClosedForOtherReasons.Count; i++)
        {
            <tr>
                <th>@(i + 1)</th>
                <td>Room #@Model.RoomsClosedForOtherReasons[i].Name</td>
                <td>@Model.RoomsClosedForOtherReasons[i].ClosedReason</td>
                <td style="text-align: right">
                    @Html.ActionLink("Open", "OpenRoom", "HotelManager", new{roomId = Model.RoomsClosedForOtherReasons[i].Id}, new {@class="btn btn-outline-dark"})
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    let vb = '@ViewBag.moveToLocation';

    if(vb.length > 0){
        window.location.hash = vb;
    }
</script>